body  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 95vh;
  width: 100vw;
}

header  {
  margin-bottom: auto;
  width: 100%;
  text-align: center;
  height: 60px;
}

h1 {
  margin-top: 0;
}

#mainContr  {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

#settings  {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.btns {
  width: 150px;
}

#grid {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  border: solid black;
  height: 650px;
  width: 650px;
}

footer  {
  margin-top: auto;
}