body  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 95vh;
  width: 100vw;
}

header  {
  margin-bottom: auto;
  width: 100%;
  text-align: center;
  height: 60px;
}

h1 {
  margin-top: 0;
}

#mainContr  {
  display: flex;
  flex-direction: column;
}

#settings  {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

footer  {
  margin-top: auto;
}